<div class="container">
  <div class="navbar">
    <a href="/">{{title}}</a>
    <a href="registrasi">registrasi</a>
    <a href="login">login</a>
  </div>
  <p>
    welcome to {{title}}
  </p>
  <p>
    this is {{key}} your key
  </p>
</div>